<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" class="h-100">

<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">

    <div th:insert="blocks/style :: style"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="d-flex flex-column bg-dark text-white">

<main >
    <div class="cover-container d-flex w-100 h-100 p-2 mx-auto flex-column">
        <header th:insert="blocks/header :: header"></header>
    </div>
    <div class="container">
        <div class="row">
            <div class="card-body text-center">
                <p class="h4">📍Чемоданы, Дорожные сумки, Рюкзаки<br><br>
                    ✈️Бесплатная доставка по Ташкенту<br><br>
                    📞Наш номер | 93 520 3303<br><br>
                    📷Наш инстаграм: https://instagram.com/suitcase_uz?igshid=5d5ouqc6qpm7<br><br>
                    📩Заказать @Suitcaseuz_PullandBear</p>
            </div>
        </div>
    </div>
</main>


<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row gy-3">

            <!--Grid column-->
            <div class="col-4 col-xl-2">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <a href="items/plastic/4">
                        <img src="http://localhost:8080/img/fdaad70b-cb25-4fa5-b081-de99dbf91093.photo_2021-09-04_13-15-06.jpg"
                             class="img-fluid"
                             alt="">

                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-4 col-xl-2">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <a href="items/textile/2">
                        <img src="http://localhost:8080/img/8d757089-b263-4667-a1a5-f266d3c8f563.photo_2021-09-06_13-41-22.jpg"
                             class="img-fluid"
                             alt="">

                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-4 col-xl-2">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <a href="items/plastic/9">
                        <img src="http://localhost:8080/img/ae91721b-af11-4456-9d39-53e8e1aa9609.photo_2021-09-05_13-38-32.jpg"
                             class="img-fluid"
                             alt="">

                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-4 col-xl-2" >

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <a href="items/plastic/10">
                        <img src="http://localhost:8080/img/9d494934-9824-43f0-a2ca-3b03651604ba.photo_2021-09-02_17-37-20.jpg"
                             class="img-fluid"
                             alt="">

                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-4 col-xl-2">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <a href="items/textile/8">
                        <img src="http://localhost:8080/img/45f03cd7-8d4d-4217-94e4-3ef27d19c172.photo_2021-09-06_13-35-08.jpg"
                             class="img-fluid"
                             alt="">

                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-4 col-xl-2">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <a href="items/plastic/7">
                        <img src="http://localhost:8080/img/7012dfae-98b7-4f0a-b7ea-f6389dfac650.photo_2021-09-10_16-18-23.jpg"
                             class="img-fluid"
                             alt="">

                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="text-muted">© 2021 Company, Inc
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


</body>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
</html>